<h1><%= @user.name %></h1>
<h2>Hosted Events</h2>
<section id="hosted-events">

  <% if @user.hosted_events.length.positive? %>
  <% past_events = [] %>
  <% future_events = [] %>
  <% @user.hosted_events.each do |event| %>
    <% if event.date < Time.now %>
      <% past_events << event %> 
    <% else %>
      <% future_events << event %> 
    <% end %>
  <% end %>

  <h3>Past Events</h3>
  <section id="past-hosted-events">
    <% past_events.each do |event| %>
    <article class="event"><%= event.date %> | <%= event.location %></article>
    <% end %>
  </section>
  <h3>Future Events</h3>
  <section id="future-hosted-events">
    <% future_events.each do |event| %>
    <article class="event"><%= event.date %> | <%= event.location %></article>
    <% end %>
  </section>
  
  <% else %>
  <p>You don't have any hosted events. :(</p>
  <% end %>
</section>
<h2>Invited Events</h2>
<section id="invited-events">
  <% if @user.invited_events.length.positive? %>
    <% @user.invited_events.each do |event| %>
      <article class="event">Host: <%= link_to event.host.name, user_path(event.host.id) %> | <%= event.date %> | <%= event.location %></article>
    <% end %>
  <% else %>
    <p>Not invited to any events :(</p>
  <% end %>
</section>
