<h1>Event</h1>
<section id="event">
  <p id="location">Location: <%= @event.location %></p>
  <p id="date">Date: <%= @event.date %></p>
  <p id="host">Host: <%= link_to @event.host.name, user_path(@event.host.id) %></p>
  <section id="invites">
    <h2>Invites</h3>
    <ul>
      <% @event.guests.each do |guest| %>
      <li><%= guest.name %></li>
      <% end %>
    </ul>
  </section>
</section>

<% if signed_in? && @event.host.id == current_user.id %>
<%= link_to 'Delete', event_path(@event), method: :delete %> |
<% end %>
<%= link_to 'All events', events_path %>
