<!DOCTYPE html>
<html>
  <head>
    <title>Private Events</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% flash.each do |name, msg| -%>
      <%= content_tag :div, msg, class: name %>
    <% end -%>
    <nav>
      <p><%= link_to 'Home', root_path %> |
      <% if signed_in? %>
        Hi, <%= link_to current_user.name, user_path(current_user.id) %>! | <%= link_to 'log out', session_path(current_user.id), method: :delete %>
      <% else %>
        <%= link_to 'log in', new_session_path %>
      <% end %>
      </p>
    </nav>
    <%= yield %>
  </body>
</html>
